* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: tomato;
    color: whitesmoke;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: darkolivegreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    font-size: 4rem;
    font-weight: 600;
    cursor: default;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar a {
    font-size: 2rem;
    margin-left: 4rem;
    color: white;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: gold;
}

#menu-icon {
    color: white;
    font-size: 3.8rem;
    display: none;
}

.home {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: rgb(68, 109, 109);
}

.home-img {
    border-radius: 10rem;
}

.home-content h3 {
    font-size: 2rem;
    font-weight: 600;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem
}

.home-content h1 {
    font-size: 5rem;
    font-weight: 600;
    line-height: 1;
}

.social-media {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    background: transparent;
    border: 2rem solid wheat;
    border-radius: 50%;
    font-size: 2rem;
    color: cornflowerblue;
    margin: 2rem 1.3rem 3rem 0;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    transition: .5s ease;
}

.social-media a:hover {
    background-color: blue;
    color: gold;
    box-shadow: 0 0 0 1rem;
}

.btn {
    display: inline-block;
    padding: 1rem;
    border-radius: 4rem;
    background-color: darkorange;
    color: rgb(16, 119, 209);
    font-size: 1.6rem;
    letter-spacing: 1rem;
    font-weight: 500;
    transition: .5s;
}

.btn:hover {
    background-color: blue;
    color: gold;
    box-shadow: 0 0 0 1rem;

}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-img img {
    width: 35vh;
    border-radius: 4rem;
}

.heading {
    align-items: center;
    font-size: 4rem;

}

.about-content h2 {
    text-align: left;
    line-height: 1.3;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    text-align: justify;
}

.skills {
    background-color: cornflowerblue;
}

.skills h2 {
    margin-bottom: 3rem;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1rem;

}

.skills-container .skills-box {
    flex: 1 1 30rem;
    padding: 2rem 3rem 4rem;
    text-align: center;
    border: 1rem solid salmon;
    border-radius: 2rem;
    transition: .5s;
}

.skills-container .skills-box p {
    font-size: 1rem;
    font-weight: 200;
    text-align: justify;
    margin: 1rem;
}



.skills-container .skills-box:hover {
    background-color: blue;
    color: white;
    box-shadow: 0 0 0 1rem;
}

.gallary {
    background-color: gray;
}

.gallary h2 {
    margin-bottom: 3rem;
}

.gallary-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.4rem;

}

.gallary-container .gallary-box {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
}

.gallary img {
    width: 100%;
    height: 50vh;
    border-radius: 5rem;
    transition: .5s;
}

.gallary-box:hover img {
    transform: scale(1.2);
}

.gallary-layer p {
    font-size: 3rem;
    margin: 2rem 0 1rem;
}

.gallary-box .gallary-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 3rem;
    transform: translateY(100%);
    transition: .5s;
}

.gallary-box:hover .gallary-layer {
    transform: translateY(0);
}

.contact h2 {
    margin-bottom: 2rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 2rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: wheat;
    background-color: darksalmon;
    border-radius: 6rem;
    margin: 4rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: darkolivegreen;
}

.footer-text p {
    font-size: 1.6rem;
}

@media screen and (max-width:600px) {
    body {
        background-color: rgb(141, 26, 26);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

}